* {
    -webkit-user-drag: none;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    color: white;
    font-weight: 400;
}

a {
    color: #AB701E;
    font-style: normal;
    cursor: pointer;
}
input:focus {
    outline: none;
}
.screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D9D9D9;
    width: 100%;
    height: 100vh;
}

.panel {
    background-color: #232323;
    border-radius: 10px;/*TODO*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: #F1930F;
    font-size: 38px;
    font-weight: 700;
    margin-top: 40px;
}
h3 {
    /*color: white; TODO*/
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 6px;
}
.input-container {
    margin-top: 30px;
    width: 518px;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 18px;
    /*color: white; TODO*/
}
.input-container > label {
    margin-bottom: 10px;
}
.input-container > input {
    width: calc(100% - 26px);
    border-radius: 5px;
    border: 2px solid #F1930F;
    font-size: 20px;
    background-color: transparent;
    height: 50px;
    padding-left: 13px;
    padding-right: 13px;
}
.input-container > input[type=submit] {
    background: #F1930F;
    color: #232323;
    font-weight: 700; /*TODO*/
}
.text-danger {
    color: #da2a00; /*TODO*/
    font-size: 18px;
}
